.container {
    border: 10px solid #babab6;
    background-color: #babab6;
}

h1 {
    color: rgb(104, 105, 95);
    font-family: Arial;
    San Serif;
    padding: 12px;
    background-color: rgb(221, 221, 218)
}

div {
    background-color: #babab6;
}

p {
    color: #fff;
    padding: 5px;
    margin: 0;
    font-family: Arial;
    San Serif;
    font-size: 10px;
}

p.first {
    background-color: rgb(93, 138, 173);
}

p.second {
    background-color: rgb(54, 134, 185);
}

p.third {
    background-color: #3293c3;
}

p.fourth {
    background-color: #8eb1c2;
}

p.fifth {
    background-color: #5fadd2;
}

p.six {
    background-color: #5b899b;
}

p.seven {
    background-color: #dedfdf;
}

p.eight {
    background-color: #23ab7e;
}

p.nine {
    background-color: #e7abc1;
}

p.ten {
    background-color: #ed78a3;
}

p.eleven {
    background-color: #6d283f;
}

p.twelve {
    background-color: #e62f6f;
}

p.thirteen {
    background-color: #5a3641;
}

p.fourteen {
    background-color: #7d5e68;
}

p.fifthteen {
    background-color: #da3d75;
}